html, body {
  height: 100%;
  color: #61DAFB;
  background: #2D2D2D;
  font-family: Monospace, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin: 20px 0 15px 0;
}

#main {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  background-color: #000;
  margin: 0.5rem;
  border-radius: 5px;
}

ul>li:hover {
  background-color: #141414;
}

.form-control {
  width: 60%;
  height: 2rem;
}

.form-control:focus {
  outline: 1px solid #61DAFB;
  outline-offset: 0;
}

.todoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
  height: auto;
  padding: 10px;
}

.todoItem .date{
  color: grey;
}

.todo-name {
  word-break: break-all;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
}

.btn {
  padding: 0.5rem;
  border: 0.1rem solid #4d4d4d;
  cursor: pointer;
  text-transform: capitalize;
  margin: 0.5rem;
  background-color: #000;
}

.btn.toggle-btn {
  border-width: 1px;
  border-color: #4d4d4d;
}

.btn.toggle-btn[aria-pressed="true"] {
  border-color: #d3d3d3;
  color: #fff;
}

.btn__danger {
  color: #fff;
  background-color: #FF0000;
  border: none;
}

.checkbox-group > input[type="checkbox"] {
  display: none;
}

.checkbox-group > input[type="checkbox"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 1rem;
  height: 1rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #fff;
  margin-right: 5px;
}

.checkbox-group > input[type="checkbox"]:checked + *::before {
  content: "✓";
  color: #FF0000;
  text-align: center;
  border-color: #fff;
}

.checkbox-group > input[type="checkbox"]:checked + * {
  color: #FF0000;
  text-decoration: line-through;
}

.time {
  font-size: 3rem;
  font-weight: lighter;
}
